{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuler la sortie "{{ sortie.nom }}"</h1>

    {{ form_start(cancelSortieForm) }}

{#    {{ form_errors(cancelSortieForm) }}#}

    <div class="form-group">
        {{ form_label(cancelSortieForm.infosSortie) }}
        {{ form_widget(cancelSortieForm.infosSortie, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(cancelSortieForm.infosSortie) }}
    </div>

    <button type="submit" class="btn btn-danger">Annuler la sortie</button>

    {{ form_end(cancelSortieForm) }}

{% endblock %}