{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}

    <div >

    <div class="container">
        <div class="infosAccueil">
            <p class="text-end">Date du jour : {{ "now"|date("d/m/Y") }} </p>
            <p class="text-end">Participant
                : {% if app.user %} {{ app.user.userIdentifier | capitalize }} {% endif %}</p>
        </div>

        <h3 class="mb-4">Filtrer les sorties</h3>

        {{ form_start(filtre, {'attr': {'class': 'form-inline'}}) }}

        <div class="row">

            <div class="col-auto">

                <div>
                    {{ form_label(filtre.campus, 'Campus :', {'label_attr': {'class': 'filtreLabel'}} ) }}
                    {{ form_widget(filtre.campus) }}
                </div>

                <div>
                    {{ form_label(filtre.nom, 'Le nom contient :', {'label_attr': {'class': 'filtreLabel'}}) }}
                    {{ form_widget(filtre.nom) }}
                </div>

                <div>
                    {{ form_label(filtre.dateSortie, 'Entre', {'label_attr': {'class': 'filtreLabelDate1'}}) }}
                    {{ form_widget(filtre.dateSortie) }}
                    {{ form_label(filtre.dateCloture, 'et', {'label_attr': {'class': 'filtreLabelDate2'}}) }}
                    {{ form_widget(filtre.dateCloture) }}
                </div>

            </div>

            <div class="col-auto">
                <div>
                    {{ form_widget(filtre.sortieOrganisateur, {'attr': {'class': 'form-check-input', 'id': 'sortieOrganisateur'}}) }}
                    {{ form_label(filtre.sortieOrganisateur, null, {'label_attr': {'class': 'form-check-label', 'for': 'sortieOrganisateur'}}) }}
                </div>

                <div>
                    {{ form_widget(filtre.sortieInscrit, {'attr': {'class': 'form-check-input', 'id': 'sortieInscrit'}}) }}
                    {{ form_label(filtre.sortieInscrit, null, {'label_attr': {'class': 'form-check-label', 'for': 'sortieInscrit'}}) }}
                </div>

                <div>
                    {{ form_widget(filtre.sortiePasInscrit, {'attr': {'class': 'form-check-input', 'id': 'sortiePasInscrit'}}) }}
                    {{ form_label(filtre.sortiePasInscrit, null, {'label_attr': {'class': 'form-check-label', 'for': 'sortiePasInscrit'}}) }}
                </div>

                <div>
                    {{ form_widget(filtre.sortiePasses, {'attr': {'class': 'form-check-input', 'id': 'sortiePasses'}}) }}
                    {{ form_label(filtre.sortiePasses, null, {'label_attr': {'class': 'form-check-label', 'for': 'sortiePasses'}}) }}
                </div>

            </div>

        </div>

        <button type="submit" class="btn btn-dark mb-5">Rechercher</button>
        <button type="reset" class="btn btn-dark mb-5">Effacer</button>

        {{ form_end(filtre) }}

        {#        {{ form_start(filtre) }} #}
        {#        {{ form_widget(filtre) }} #}
        {#        <button type="submit" class="Accueil btn btn-dark">Rechercher</button> #}
        {#        <button type="reset" class="Accueil btn btn-dark">Effacer</button> #}
        {#        {{ form_end(filtre) }} #}
    </div>


    <div >
        <table class="table text-center tablePerso">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th colspan="2" scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sortieFiltre %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut.format('d/m/Y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription.format('d/m/Y H:i') }}</td>
                    <td>{{ sortie.inscrits|length }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>
                        {{ sortie.etat.libelle }}
                    </td>
                    <td>
                        {% if sortie.inscrits.contains(app.user) and app.user.sorties.contains(sortie) and sortie.etat.libelle!='Clôturée' %}
                            X
                        {% endif %}
                    </td>
                    <td><a href="{{ path('user_show', {'id' : sortie.id}) }}">{{ sortie.organisateur.username }}</a>
                    </td>
                    <td>
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">
                            <button class="btn btn-primary btnAction">Afficher</button>
                        </a>

                        {% if sortie.organisateur.id == app.user.id and sortie.etat.libelle == 'Créée' %}
                            <a href="{{ path('sortie_update', {'id':sortie.id}) }}">
                                <button class="warning btn btn-warning btnAction">Modifier</button>
                            </a>
                            <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}">
                                <button class="btn btn-danger btnAction">Annuler</button>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if sortie.inscrits.contains(app.user) and app.user.sorties.contains(sortie) and sortie.etat.libelle!='Clôturée' %}
                            <a href="{{ path('sortie_unsubscribe', {'id': sortie.id}) }}"
                               class="btn btn-primary btnInscription">Se désinscrire
                            </a>
                        {% else %}
                            {% if sortie.etat.libelle == 'Ouverte' and sortie.inscrits.count < sortie.nbInscriptionMax %}
                                <a href="{{ path('sortie_subscribe', {'id': sortie.id}) }}"
                                   class="btn btn-primary btnInscription">S'inscrire
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            <a href="{{ path('sortie_add') }}">
                <button class="Accueil btn btn-dark" type="button">Créer une sortie</button>
            </a>
        </div>

    </div>


{% endblock %}