{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détails
{% endblock %}

{% block body %}
    <h2>Détails de la sortie</h2>

    <div class="AffichageSortie">

        <div>Nom de la sortie {{ sortie.nom }}</div>
        <div>Date et heure : {{ sortie.dateHeureDebut | date('Y-m-d H:i:s')}}</div>
        <div>Date limite d'inscription : {{ sortie.dateLimiteInscription.format('d/m/Y H:i') }}</div>
        <div>Nombre de places : {{ sortie.inscrits|length }}/{{ sortie.nbInscriptionMax }}</div>
        <div>Durée : {{ sortie.duree | date('H:i:s')}}</div>
        <div>Description et infos : {{ sortie.infosSortie }}</div>
        <div>Campus : {{ sortie.campus.nom }}</div>
        <div>Lieu : {{ sortie.lieu.nom }}</div>
        <div>Rue : {{ sortie.lieu.rue }}</div>
        <div>Code postal :</div>
        <div>Clôture : {{ sortie.dateLimiteInscription | date('Y-m-d H:i:s')}}</div>

        <section class="inscrits">
            <h3>Liste des inscrits :</h3>
            {% for inscrit in sortie.inscrits %}
                <div>{{ user.nom }}</div>
                <div>{{ user.ville }}</div>
            {% endfor %}
        </section>
    </div>
{% endblock %}

