{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détails
{% endblock %}

{% block body %}
    <h2>Détails de la sortie</h2>

    <div class="AffichageSortie">

        <div>Nom de la sortie {{ sortie.nom }}</div>
        <div>Date et heure : {{ sortie.date_heure_debut.format('d/m/Y h:m') }}</div>
        <div>Date limite d'inscription : </div>
        <div>Nombre de places : </div>
        <div>Durée : {{ sortie.duree }}</div>
        <div>Description et infos : {{ sortie.infos_sortie }}</div>

        <div>Lieu : {{ sortie.lieu }}</div>
        <div>Code postal : </div>
        <div>Clôture : {{ sortie.date_limite_inscription }}</div>
        <div>Nombre de places : </div>


        <section class="inscrits">
            <h3>Liste des inscrits :</h3>
            {% for inscrit in sortie.inscrits %}
                <div>{{ user.nom }}</div>
                <div>{{ user.ville }}</div>
            {% endfor %}
        </section>
    </div>
{% endblock %}


