{% extends 'base.html.twig' %}

{% block title %}
    Modifier une sortie
{% endblock %}

{% block body %}
    <h1>Modifier une sortie</h1>

    <div class="modifierSortie">
        {{ form_start(sortieForm) }}
        {{ form_label(sortieForm.nom) }}
        {{ form_widget(sortieForm.nom) }}
        {{ form_errors(sortieForm.nom) }}
    </div>

    {{ form_rest(sortieForm) }}
    <button>Enregistrer</button>

    {{ form_end(sortieForm) }}



{% endblock %}



