<nav>
    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li><a href="{{ path('admin_villes') }}">Villes</a></li>
            <li><a href="{{ path('admin_campus') }}">Campus</a></li>
        {% endif %}
        <li><a href="{{ path('sortie_list') }}">Accueil</a></li>
        <li><a href="{{ path('sortie_list') }}">Mon profil</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>
</nav>