{% extends 'base.html.twig' %}

{% block title %}
    Mon Profil
{% endblock %}

{% block body %}
<div class="center">
    <div class="largeurProfil ">
        <h2 class="h2perso">Mon Profil</h2>
        <div class="image">
            <img src="{{ asset('img/avatar/' ~ user.avatar) }}" alt="photo de profil de{{ user.username }}">
        </div>


        <div class="profil">
        {{ form_start(userForm) }}
    {#    <div class="row">#}
    {#        <div class="col-auto">#}
    {#            <div>#}
    {#                {{ form_label(userForm.username, 'Pseudo :', {'label_attr': {'class': 'filtreLabel'}} ) }}#}
    {#                {{ form_widget(userForm.username) }}#}
    {#            </div>#}
    {#            <div>#}
    {#                {{ form_label(userForm.prenom, 'Prénom :', {'label_attr': {'class': 'filtreLabel'}} ) }}#}
    {#                {{ form_widget(userForm.prenom) }}#}
    {#            </div>#}
    {#            <div>#}
    {#                {{ form_label(userForm.nom, 'Nom :', {'label_attr': {'class': 'filtreLabel'}} ) }}#}
    {#                {{ form_widget(userForm.nom) }}#}
    {#            </div>#}
    {#            <div>#}
    {#                {{ form_label(userForm.telephone, 'telephone :', {'label_attr': {'class': 'filtreLabel'}} ) }}#}
    {#                {{ form_widget(userForm.telephone) }}#}
    {#            </div>#}
    {#            <div>#}
    {#                {{ form_label(userForm.email, 'email :', {'label_attr': {'class': 'filtreLabel'}} ) }}#}
    {#                {{ form_widget(userForm.email) }}#}
    {#            </div>#}
    {#            <div>#}
    {#                {{ form_label(userForm.plainPassword) }}#}
    {#                {{ form_widget(userForm.plainPassword) }}#}
    {#            </div>#}
        {{ form_row(userForm.username) }}
        {{ form_widget(userForm) }}
        <button type="submit" class="btn btn-dark">Enregistrer</button>
        <a href="{{ path('sortie_list') }}"><button type="button" class="btn btn-dark annulerProfil">Annuler</button></a>
        {{ form_end(userForm) }}
        </div>
    </div>
</div>

{% endblock %}