{% extends 'base.html.twig' %}

{% block title %}
    Mon Profil
{% endblock %}
{% block body %}
    <h2 class="h2perso">Mon Profil</h2>
    <img src="{{ asset('img/avatar/' ~ user.avatar) }}" alt="photo de profil de{{ user.username }}">
    {{ form_start(userForm) }}
    {{ form_row(userForm.username) }}
    {{ form_widget(userForm) }}
    <button>Enregistrer les modifications</button>
    {{ form_end(userForm) }}
{% endblock %}
