{% extends 'base.html.twig' %}

{% block title %}
    Profil Utilisateur
{% endblock %}

{% block body %}
    <h2 class="h2perso mb-5">Profil de {{ user.username }} </h2>

    <div class="container detailsProfil">
        <div class="row">
            <div class="col-auto fw-bold">
                <div>Nom :</div>
                <div>Prenom :</div>
                <div>Email :</div>
                <div>Telephone :</div>
                <div>Campus :</div>
            </div>
            <div class="col-auto">
                <div>{{ user.nom }}</div>
                <div>{{ user.prenom }}</div>
                <div>{{ user.email }}</div>
                <div>{{ user.telephone }}</div>
                <div>{{ user.campus.nom }}</div>
            </div>
        </div>
    </div>
    <a href="{{ path('sortie_list') }}"><button type="reset" class="btn btn-dark">Retour</button></a>
{% endblock %}

